<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gantt Date/Time Chart</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    var pairings = {{json1|safe}};

    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawTimeLineChart);

    function drawTimeLineChart() {

      var data = new google.visualization.DataTable();
            data.addColumn('string', 'Term');
            data.addColumn('string', 'Name');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addRows(pairings);

      var options = {
        height: 400,
        gantt: {
          trackHeight: 30
        }
      };

      var chart = new google.visualization.Timeline(document.getElementById('chart_div'));
      chart.draw(data, options);
    }

    function drawGanttChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      data.addRows(testGantt);

      var options = {
        height: 400,
        gantt: {
          trackHeight: 30
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
</head>
<body>
    <div id="chart_div"></div>
</body>
</html>